h1{
  color: red;
}
li a:hover{
  background-color: grey
}
.addBtn{
  padding: 15px;
  width: 25%;
  background: white;
  color: #555
  text-align: center;
}
.addBtn:hover {
  back-ground color: grey;
}
if (priority== 1){
 li.style.backgroundColor = red;
  }
  else if (priority==2){
   li.style.backgroundColor = yellow;
  }
  else if (priority==3){
     li.style.backgroundColor = green;
}
label[for="remove"]{
  position: relative;
  cursor: pointer;
}
